<div class="contact reveal" id="contact">
    <div class="content">
        <div class="content-header">
            <!-- <hr> -->
            <!-- <h1>Contact</h1> -->
            <!-- <hr> -->
        </div>  
        <div class="contact-description">
            <div class="contact-text">
                <h1>Get In Touch</h1>
                <p>I'm available for new opportunities. If you wish to reach out to me, you can either email me or contact me over LinkedIn. Feel free to check out my GitHub account as well!
                    <!-- Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you! -->
                </p>
            </div>
            <div class="contact-icons">
                <a href="mailto:luis.m.rangel90@outlook.com"><img class="icon" src="assets/email-icon.png"></a>
                <a href="https://github.com/luismr00" target="_blank"><img class="icon" src="assets/github-icon.png"></a>
                <a href="https://www.linkedin.com/in/luis-rangel-55135812a/" target="_blank"><img class="icon" src="assets/linkedin-icon.png"></a>
            </div>
        </div>
        <div class="footer">
            <p>Luis Rangel © 2023 - 2025</p>
        </div>
    </div>  
</div>