<div class="about reveal" id="about">
    <div class="content">
        <div class="content-header">
            <h1>About Me</h1>
        </div>
        <div class="timeline">
            <div class="timeline-line"></div>

            <div *ngFor="let item of timelineItems" class="timeline-item {{item.position}} reveal">
                <div class="timeline-dot-{{item.position}}"></div>
                <div class="about-text">
                  <h3 class="title">{{item.title}}</h3>
                  <p class="date">{{item.date}}</p>
                  <p class="description">{{item.description}}</p>
                </div>
              </div>
        </div>

        <!-- New responsive timeline -->
        <div class="responsive-timeline">
            <div class="responsive-content-center">
                <div class="responsive-line"></div>
                <div class="responsive-items">
                    <div *ngFor="let item of timelineItems" class="responsive-item reveal">
                        <div class="responsive-timeline-dot"></div> <!-- New dot -->
                        <div class="about-text">
                            <h3 class="title">{{item.title}}</h3>
                            <p class="date">{{item.date}}</p>
                            <p class="description">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
