<div class="header slide-down">
    <div class="logo">
        <h3>Luis Rangel</h3>
        <!-- <img src="assets/logo.png"> -->
    </div>
    <div>
        <a href="#about"><p class="tab">About</p></a> 
        <a href="#skills"><p class="tab">Skills</p></a> 
        <a href="#work"><p class="tab">Work</p></a> 
        <a href="#contact"><p class="tab">Contact</p></a>    
        <a href="assets/Resume.pdf">
            <div class="resume">
                <p>Resume</p>
            </div>
        </a>
    </div>
</div>