<div class="intro">
    <app-header></app-header>
    <div class="content">
        <!-- <p>home works!</p>
        <a href="/project">Checkout project</a> -->
        <div class="row">
            <div class="headshot fade-in">
                <!-- <p>image here!</p> -->
                <img src="assets/luis.png">
            </div>
            <div class="intro-text slide-left">
                <p class="greeting">Hi, my name is</p>
                <div class="large-title">
                    <h1 [ngStyle]="{'margin': '-20px 20px -20px 0'}">LUIS</h1>
                    <h1>RANGEL</h1>
                </div>
                <div class="regular-title">
                    <h1>LUIS RANGEL</h1>
                </div>
                <div></div>
                <p>I am a Software Engineer specialized in building applications for the web along other things.</p>
            </div>
        </div>
    </div>
    <div></div>
</div>