<div class="project-container">
    <!-- <p>adidas works!</p> -->
    <h1 class="title">How It Works</h1>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Overview</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Melee Academy is a cutting-edge platform designed to elevate the gameplay of Super Smash Bros. Melee enthusiasts from beginners to competitive players. 
                    This full-stack project, developed from scratch, integrates modern web technologies with a focus on advanced learning through a meticulously crafted user experience.
                    The primary goal of Melee Academy is to provide players with the necessary resources to excel in the increasingly complex Melee meta. 
                    This platform stands out by offering in-depth tutorials beyond the basics typically found on YouTube, facilitating both fundamental and advanced learning. 
                    Additionally, it aims to create opportunities for top players to contribute and earn through advanced tutorials, thereby enriching the content quality and depth available to subscribers.
                    The home page of Melee Academy serves as a gateway that reflects all of these points, emphasizing the importance of mastering fundamentals that are often overlooked yet crucial for progression.
                </p>
            </div>
        </div>
        <img src="assets/gif/melee/home.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Learning Modules</h1>  
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    The platform is structured around key areas of Melee gameplay:
                </p>
                <ul>
                    <li>
                        Fundamentals: Focuses on essential techniques like Punish Game, Neutral Game, and Edge Guarding. 
                        Each category is supported by extensive tutorials that lay the groundwork for advanced play.
                    </li>
                    <li>
                        Character Specific (Planned): Future updates will introduce character-specific strategies, curated by top players. 
                        This section is intended to connect the foundational skills with character-specific applications, enhancing personalized learning experiences.
                    </li>
                </ul>
                <p>
                    Expansion Plans: Post-beta, once initial feedback is integrated and partnerships with top players are established, the Character Specific modules will be developed to showcase how professional players apply fundamentals in competitive settings.
                </p>
            </div>
        </div>
        <img src="assets/gif/melee/menu.gif">
    </div>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Tutorials</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    The tutorials are designed to be interactive and engaging, with a focus on user experience. 
                    Each tutorial is structured to provide a comprehensive understanding of the topic, with a mix of video content, text, and images. 
                    The tutorials are designed to be accessible to all players, regardless of skill level, and are intended to be a valuable resource for both beginners and advanced players.
                </p>
            </div>
        </div>
        <img src="assets/gif/melee/tutorials.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Video Player</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Central to the learning experience is the video player where content is dynamically fed. 
                    This custom-designed player is crucial for delivering high-quality tutorials and will continually be updated with new content as the platform evolves. 
                    Currently, the video content is under development, and this player will host all upcoming instructional videos.
                </p>
            </div>
        </div>
        <img src="assets/gif/melee/videoplayer.gif">
    </div>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Subscription Plans</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Melee Academy offers two tiers of engagement:
                </p>
                <ul>
                    <li>
                        Basic Plan: Provides access to all fundamental video tutorials, covering broad topics essential for all players.
                    </li>
                    <li>
                        Pro Plan (Coming Soon): A future initiative to offer specialized content focusing on in-depth techniques for specific characters, tailored by contributions from top players.
                    </li>
                </ul>
            </div>
        </div>
        <img src="assets/gif/melee/plans.png">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Behind the Scenes</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    The creation of Melee Academy’s content involves more than just recording tutorials; it includes meticulous scripting and professional editing. 
                    Collaborating with content creators and video editors, I am committed to producing polished, informative, and engaging videos. 
                    This process is intricate and time-intensive, reflecting my dedication to quality and educational value.
                </p>
            </div>
            </div>
        <img src="assets/gif/melee/recordings.png">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>GitHub Repo</h1>
                <p [ngStyle]="{'text-align': 'center'}">
                    The GitHub repository for Melee Academy is currently private. The project will be made public once the beta version is completed. For more information, please hit the back button to return to the home page and find my LinkedIn and email in the contact section.
                </p>
            </div>
            </div>
    </div>
    <a href="/"><button class="back">Back</button></a>
</div>
