<div class="subwork-container reveal">
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Web Portfolio</h1>
                <p>Individual Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>
                    The repository for this web portfolio that you are currently viewing. This is a remake from an old portfolio previously coded in React.
                </p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>Angular</p>
                    <p>AWS</p>
                </div>
                <a href="https://github.com/luismr00/angular-portfolio" target="_blank"><button>Check</button></a>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Comment Hunter</h1>
                <p>Data Scraper Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>A data scrapper website that takes data from reddit regarding Wall Street Bets. Fetched data is displayed over a chart.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>React</p>
                    <p>Python</p>
                </div>
                <a href="https://github.com/comment-hunter/comment-hunter" target="_blank"><button>Check</button></a>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Media Player</h1>
                <p>Media Player Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>Simple media player with similar functionalities such as Spotify. No backend functionality was involved since main focus was to learn about frontend frameworks.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>Angular</p>
                </div>
                <a href="https://github.com/luismr00/MediaPlayer-Angular-Project" target="_blank"><button>Check</button></a>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>FSAE Motorsports</h1>
                <p>Data Acquisition Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>A Data Acquisition System (DAS) meant to fetch data from a race car through embedded sensors.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>React</p>
                    <p>C#</p>
                    <p>.NET</p>
                    <p>MongoDB</p>
                </div>
                <a href="https://github.com/csunfsae/DAS-Server-SignalR" target="_blank"><button>Check</button></a>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Web Assignments</h1>
                <p>School Assignments</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>Multiple assignments listed as C484 as part of their title that portray a footprint of my proficiency in frontend languages.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                </div>
                <a href="https://github.com/luismr00?tab=repositories" target="_blank"><button>Check</button></a>
            </div>
        </div>
    </div>
    <div class="repo">
        <!-- <div class="repo-container"> -->
        <div class="repo-content">
            <div class="top">
                <h1>C/C++/Java Assignments</h1>
                <p>School Assignments</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>School assignments that show proof of previous work in other languages.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>C</p>
                    <p>C++</p>
                    <p>Java</p>
                </div>
                <a href="https://github.com/luismr00/school-assigments" target="_blank"><button>Check</button></a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
