<div class="subwork-container reveal">
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Web Portfolio</h1>
                <p>Individual Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>A portfolio to display personal projects and information about me. Portfolio previously created in React but remake is done in Angular.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>Angular</p>
                </div>
                <button>Check</button>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Comment Hunter</h1>
                <p>Data Scraper Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>A data scrapper website that takes data from reddit regarding Wall Street Bets. Fetched data is displayed over a chart.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>React</p>
                    <p>Python</p>
                </div>
                <button>Check</button>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Media Player</h1>
                <p>Media Player Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>Simple media player with similar functionalities such as Spotify. Mainly focused on UI since it was a short term school project.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>Angular</p>
                </div>
                <button>Check</button>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>FSAE Motorsports</h1>
                <p>Data Acquisition Project</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>A Data Acquisition System (DAS) meant to fetch data from a race car through embedded sensors.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>React</p>
                    <p>C#</p>
                    <p>.NET</p>
                    <p>MongoDB</p>
                </div>
                <button>Check</button>
            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-content">
            <div class="top">
                <h1>Web Assignments</h1>
                <p>School Assignments</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>Multiple assignments that portray a footprint of my proficiency in frontend languages.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                </div>
                <button>Check</button>
            </div>
        </div>
    </div>
    <div class="repo">
        <!-- <div class="repo-container"> -->
        <div class="repo-content">
            <div class="top">
                <h1>C/C++/Java Assignments</h1>
                <p>School Assignments</p>
            </div>
            <!-- <p>GOTO ICON WITH FLEX NEXT TO TITLE</p> -->
            <div class="mid">
                <p>School assignments that show proof of previous work in other languages.</p>
            </div>
            <div class="bottom">
                <div class="languages">
                    <p>C</p>
                    <p>C++</p>
                    <p>Java</p>
                </div>
                <button>Check</button>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
