<div class="work reveal" id="work">
    <div class="content">
        <div class="content-header">
            <!-- <hr> -->
            <h1>Work</h1>
            <!-- <hr> -->
            <div class="content-header-text">
                <p>
                    Here are three highlighted projects that demonstrate my expertise, plus more project repositories included at the bottom.
                    Click on each to learn more. 
                    While none of them are live at the moment to avoid database and cloud costs, some of them will be deployed later on. Detailed descriptions and GIFs showcasing their features are included.
                </p>
            </div>
        </div>  
        <div class="projects">
            <div class="project-1">
                <div class="project-image">
                    <img class="work-image" src="assets/FOX_AIL.jpeg">
                </div>  
                <div class="project-text">
                    <div class="project-text-container">
                        <div class="project-text-header">
                            <h1>Melee Academy</h1>
                            <p>E-learning application</p> 
                        </div>
                        <div class="project-text-description">
                            <p>Melee Academy as an e-learning platform that provides users advanced tutorials to play at a competitive level in the game Super Smash Bros. Melee. 
                            The site features a video player, which feeds exclusive content created by me and other top players in the community.
                                <!-- The project has a live site that can be found by clicking the button below. -->
                            </p>
                        </div>
                        <div class="project-text-bottom">
                            <div class="languages">
                                <p>React</p>
                                <p>Node</p>
                                <p>Express</p>
                                <p>AWS</p>
                            </div>
                            <a href="/melee"><button class="more">Learn More</button></a>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="project-2">
                <div class="project-image">
                    <img class="work-image" src="assets/AdidasView.jpeg">
                </div>
                <div class="project-text">
                    <div class="project-text-container">
                        <div class="project-text-header">
                            <h1>Adidas</h1>
                            <p>E-commerce application</p>
                        </div>
                        <div class="project-text-description">
                            <p>This e-commerce application uses mock data from Adidas that uses functionalities similar to a shopping website such as browsing, checking out, and adding reviews to items. Overall, it works like any other shopping site such as Amazon.
                            </p>
                        </div>
                        <div class="project-text-bottom">
                            <div class="languages">
                                <p>Laravel</p>
                                <p>MySQL</p>
                            </div>
                            <a href="/adidas"><button class="more">Learn More</button></a>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="project-3">
                <div class="project-image">
                    <div class="snap-image">
                        <img class="snap-logo" src="assets/snapLogo.png">
                    </div>
                </div>
                <div class="project-text">
                    <div class="project-text-container">
                        <div class="project-text-header">
                            <h1>Snap Nourish</h1>
                            <p>Geolocation and social media application</p>
                        </div>
                        <div class="project-text-description">
                            <p>Snap Nourish is a Snap Academy final project with the goal of bringing awareness to Snap users about food, security, educate them on healthier food choices through recipes, and provide a resource by giving them local groceries with the most affordable deals.
                            </p>
                        </div>
                        <div class="project-text-bottom">
                            <div class="languages">
                                <p>React Native</p>
                                <p>Firebase</p>
                            </div>
                            <a href="/snap"><button class="more">Learn more</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>