<div class="project-container">
    <!-- <p>adidas works!</p> -->
    <h1 class="title">How It Works</h1>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Overview</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor, sed dignissim metus consectetur.</p> -->
                <p>
                    Snap Nourish is a Snap Academy final project which goal was to create a new feature as if it were to be added towards the Snapchat app itself. 
                    Beforehand, different teams of six scholars were made throughout the academy where each team had to focus on a separate topic upon creating the new feature. 
                    Each team was composed of two scholars from each different Snap Academy which consisted of two engineers, two designers, and two storytellers. 
                    Together the whole project was group effort in creating Snap Nourish. 
                    <!-- Please note that the final outcome of the project, however, is only a prototype itself and not necessarily a final product. -->
                </p>
                <br>
                <p>
                    As far as how this feature would’ve worked is that a user would’ve had to open snapchat maps as soon as they open the application.
                    Once there on the top right side of the screen below the map settings icon an option for Snap Nourish would've appeared for users to tap into.
                    In return this would have shown across the map various grocery stores, food pantries, and community fridges for users to navigate different resources regarding these locations. 
                    <!-- Ultimately by adding this geolocation feature it would have promoted food security awareness to users in need. -->
                </p>
                <!-- <p>Fusce odio tortor, ultricies sit amet consectetur id, pharetra vitae leo. Nulla viverra ut turpis at condimentum. Vivamus eleifend dignissim orci, sed aliquet leo pellentesque et. Praesent sit amet mi vehicula, venenatis velit sit amet, fringilla tellus. Proin accumsan volutpat eros et luctus. Maecenas sed nulla sit amet massa finibus commodo et et magna. Phasellus vel lacinia sapien. Sed tempus, mauris vitae scelerisque pretium, justo nisi ultrices sem, nec pharetra ex mi sed velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
            </div>
        </div>
        <img src="assets/gif/snap/GIFsamQT.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Resources</h1>  
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Upon clicking one of the many locations found on the map while using the Snap Nourish feature a user can immediately find different resources available to them provided by that specific location. 
                    Such common resources a user would typically be able to find are:
                </p>
                <ul>
                    <li>CalFresh application for those that are in need</li>
                    <li>Directions in how to get to that location</li>
                    <li>Recipes a user would be able to manage to follow along in order to cook healthy meals based on availability of items in that particular location</li>
                </ul>
                <p>
                    One important note to be aware of regarding this feature is that while everything was being developed during the course of this project is that only a few locations were added to show the prototype. 
                    In the case an API would’ve been used then it would’ve been possible to expand more resources throughout this feature. 
                </p>
            </div>
        </div>
        <img src="assets/gif/snap/GIFluisQT.gif">
    </div>
    <div class="more-information">
        <div class="information">
            <div class="information-container">
                <h1>GitHub Repo</h1>
                <p [ngStyle]="{'text-align': 'center'}">
                    For more information regarding this project, checkout the github repo for this project <a href="https://github.com/ssotoale/SnapNourish" target="_blank">here</a>. 
                </p>
            </div>
            </div>
    </div>
    <a href="/"><button class="back">Back</button></a>
</div>
