<div class="home">
    <app-intro></app-intro>
    <app-about></app-about>
    <div class="skills reveal" id="skills">
        <div class="content">
            <div class="content-header">
                <!-- <hr> -->
                <h1>Skills</h1>
                <!-- <hr> -->
                <div class="content-header-text">
                    <p>
                        The percentages provided offer an overview of my skills, as outlined in my resume. 
                        My expertise lies primarily in frontend development, complemented by a solid understanding of backend technologies. 
                        While I'm proficient in languages such as C, C++, Java, and Python, my current focus has led me to be more specialized in fullstack work. 
                        However, I'm confident in my ability to quickly refresh my skills in these languages as required.
                        <!-- Overall, it should just take me a couple of weeks to get used to any other programming languages since most them are very similar to each other. -->
                    </p>
                </div>
            </div>
            
            <div class="skill-list" *ngIf="showSkills; else showStats">
                <app-skills *ngFor="let skill of skills" [id]="skill.id" [percent]="skill.percent" [specialty]="skill.specialty" [mastery]="skill.mastery" [showMore]="showMore"></app-skills>
            </div>
        </div>
    </div>
    <app-work></app-work>
    <app-subwork></app-subwork>
    <app-contact></app-contact>
</div>

<ng-template #showStats>
    <!-- <app-skills [id]="1" [percent]="99" [specialty]="frontend" [mastery]="99%" [showMore]="showMore"></app-skills> -->
    <div class="stats-info">
        <!-- <p>WHEEL</p> -->
        <div class="pie-chart">
            <app-skills [id]="stats.id" [percent]="stats.percent" [specialty]="stats.specialty" [mastery]="stats.mastery" [showMore]="showMore" [hideMore]="hideMore" [goBack]="goBack"></app-skills>
            <button class="more largeView" *ngIf="hideMore" (click)="goBack()">Back</button>
        </div>
        <app-stats [goBack]="goBack" [stats]="stats"></app-stats>
        <button class="more smallView" *ngIf="hideMore" (click)="goBack()">Back</button>
    </div>
</ng-template>
