<div class="home">
    <app-intro></app-intro>
    <app-about></app-about>
    <div class="skills reveal" id="skills">
        <div class="content">
            <div class="content-header">
                <!-- <hr> -->
                <h1>Skills</h1>
                <!-- <hr> -->
                <div class="content-header-text">
                    <p>
                        To understanding my skills metric, each percentage reflects my proficiency level:
                    </p>
                    <ul>
                        <li><strong>90-100%</strong>: Expert proficiency — I operate independently and handle complex tasks with minimal reference.</li>
                        <li><strong>70-89%</strong>: Proficient — Comfortable with everyday tasks; I consult documentation for advanced features or edge cases.</li>
                        <li><strong>50-69%</strong>: Developing — I have a foundational understanding and am actively enhancing my capabilities.</li>
                        <li><strong>Below 50%</strong>: Novice — Currently acquiring skills, with regular use of educational resources to accelerate learning.</li>
                    </ul>
                    <p>
                        This approach to rating helps articulate my current competencies and ongoing areas of development, showcasing a commitment to continuous professional growth.
                    </p>
                </div>
                
            </div>
            
            <div class="skill-list" *ngIf="showSkills; else showStats">
                <app-skills *ngFor="let skill of skills" [id]="skill.id" [percent]="skill.percent" [specialty]="skill.specialty" [mastery]="skill.mastery" [showMore]="showMore"></app-skills>
            </div>
        </div>
    </div>
    <app-work></app-work>
    <app-subwork></app-subwork>
    <app-contact></app-contact>
</div>

<ng-template #showStats>
    <!-- <app-skills [id]="1" [percent]="99" [specialty]="frontend" [mastery]="99%" [showMore]="showMore"></app-skills> -->
    <div class="stats-info">
        <!-- <p>WHEEL</p> -->
        <div class="pie-chart">
            <app-skills [id]="stats.id" [percent]="stats.percent" [specialty]="stats.specialty" [mastery]="stats.mastery" [showMore]="showMore" [hideMore]="hideMore" [goBack]="goBack"></app-skills>
            <button class="more largeView" *ngIf="hideMore" (click)="goBack()">Back</button>
        </div>
        <app-stats [goBack]="goBack" [stats]="stats"></app-stats>
        <button class="more smallView" *ngIf="hideMore" (click)="goBack()">Back</button>
    </div>
</ng-template>
