<div class="project-container">
    <!-- <p>adidas works!</p> -->
    <h1 class="title">How It Works</h1>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Overview</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Upon visiting the landing page, the first thing a user will notice will be an Adidas site displaying a number of items from different categories. 
                    The user will also be able to browse over more items based on these categories for men and women separately. 

                    Developing an e-commerce site based on Adidas was simply chosen because the mock data for all the items was easily available for developing this college project. 
                    Overall, the theme is not what’s important but the actual functionalities that were implemented to the website are. Hence, the site works like any other shopping website where a user can select, buy, and checkout multiple items of their choice.
                </p>
            </div>
        </div>
        <img src="assets/gif/adidas/landing.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Signing in</h1>  
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    The first step like any other site is to register or sign in before attempting to engage with the site. 
                    When registering, users don’t have to use a valid email. 
                    Any email will do as long as the password criteria is followed. 
                    Besides this, everything else is pretty straightforward.
                </p>
            </div>
        </div>
        <img src="assets/gif/adidas/register.gif">
    </div>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Profile</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    This page will display user information along with a limited credit of $300 to test the site. 
                    This credit was added just to replace the need to ask any credit card information  for making it easier to use the site. 
                    Obviously this would change if the site was meant to be put in production for people to use. 
                    In the meantime the credit is subtracted when a user checks out items. 
                    A user won’t be able to checkout any items if their balance is insufficient. 
                    Once a user checks out any order, an invoice will appear under the profile page as well.
                </p>
            </div>
        </div>
        <img src="assets/gif/adidas/profile.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Selecting</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Another pretty straightforward functionality. 
                    Once a user finds an item of their liking, they can choose the quantity for that particular item and then add it to their cart.
                </p>
            </div>
        </div>
        <img src="assets/gif/adidas/selecting.gif">
    </div>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Shipping & Address</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    Once a user is satisfied with their cart, the next thing would be to confirm their shipping address. 
                    In case a user does not have an address set up already, then they will be prompted to do so. 
                    At the moment, the site does not validate whether the input address exists or not from the user. 
                    As long as all the fields are added within the address section then the user will be able to move on to the next step of checking out.
                </p>
            </div>
        </div>
        <img src="assets/gif/adidas/shipping.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Checkout</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    This is the part where a users credit is displayed to confirm whether they have sufficient funds to make a purchase. 
                    In case this criteria is not met, then the user can always choose to delete any items and select new ones in order to satisfy their line of credit. 
                    If everything works accordingly, then the user will be able to see an invoice of their purchase under order history within their profile page.
                </p>
            </div>
            </div>
        <img src="assets/gif/adidas/checkout.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Review</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p> -->
                <p>
                    To spice the website a little bit more, an item review functionality was added for users to use. 
                    One approach in adding a review is that a user can always go back and check one of their invoices to select the items they wish to review. 
                    At the very bottom of the item page there is a section to write and submit a comment for other people to see in the future.
                </p>
            </div>
            </div>
        <img src="assets/gif/adidas/review.gif">
    </div>
    <div class="project">
        <div class="description">
            <div class="description-container">
                <h1>Learn More</h1>
                <p [ngStyle]="{'text-align': 'center'}">
                    For more information regarding this project, checkout the github repo for this project <a href="https://github.com/mdsou/584Proj" target="_blank">here</a>. 
                </p>
            </div>
            </div>
    </div>
    <a href="/"><button class="back">Back</button></a>
</div>
