<div class="project-container">
    <!-- <p>adidas works!</p> -->
    <h1 class="title">How It Works</h1>
    <div class="project reverse">
        <div class="description">
            <div class="description-container">
                <h1>Main</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor</p>
            </div>
        </div>
        <img src="assets/gif/adidas/main.gif">
    </div>
    <div class="project">
        <div class="description">
            <h1>Registering</h1>  
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor, sed dignissim metus consectetur. Fusce odio tortor, ultricies sit amet consectetur id, pharetra vitae leo. Nulla viverra ut turpis at condimentum. Vivamus eleifend dignissim orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="assets/gif/adidas/register.gif">
    </div>
    <div class="project reverse">
        <div class="description">
            <h1>Profile</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor, sed dignissim metus consectetur. Fusce odio tortor, ultricies sit amet consectetur id, pharetra vitae leo. Nulla viverra ut turpis at condimentum. Vivamus eleifend dignissim orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="assets/gif/adidas/profile.gif">
    </div>
    <div class="project">
        <div class="description">
            <h1>Selecting</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor, sed dignissim metus consectetur. Fusce odio tortor, ultricies sit amet consectetur id, pharetra vitae leo. Nulla viverra ut turpis at condimentum. Vivamus eleifend dignissim orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="assets/gif/adidas/selecting.gif">
    </div>
    <div class="project reverse">
        <div class="description">
            <h1>Address</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor, sed dignissim metus consectetur. Fusce odio tortor, ultricies sit amet consectetur id, pharetra vitae leo. Nulla viverra ut turpis at condimentum. Vivamus eleifend dignissim orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="assets/gif/adidas/address.gif">
    </div>
    <div class="project">
        <div class="description">
            <h1>Checkout</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum enim at eros molestie rhoncus. Proin hendrerit tortor id metus aliquam imperdiet. Aliquam gravida volutpat nunc suscipit luctus. Vestibulum non mi eu est cursus hendrerit in et neque. Pellentesque dolor augue, hendrerit eget congue vitae, imperdiet sit amet dui. Quisque mattis lorem id massa auctor, sed dignissim metus consectetur. Fusce odio tortor, ultricies sit amet consectetur id, pharetra vitae leo. Nulla viverra ut turpis at condimentum. Vivamus eleifend dignissim orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="assets/gif/adidas/checkout.gif">
    </div>
</div>
