<div class="skill">
  <circle-progress
    [percent]="percent"
    [title]="specialty"
    [subtitle]="mastery"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  <button class="more" *ngIf="!hideMore" (click)="showMore(id)">Learn More</button>
  <!-- <button class="more" *ngIf="hideMore" (click)="goBack()">Back</button> -->
</div>

<!-- <ng-template #showStats>
  <button class="more" (click)="showMore(id)">Back</button>
</ng-template> -->

<!-- [outerStrokeColor]="'#78C000'"
  [radius]="100"
  [innerStrokeColor]="'#C7E596'" -->