.skill {
    width: 300px;
    text-align: center;
    /* margin-bottom: 40px; */
}

.more {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.more:hover {
    background-color: white;
    color: black
}

@media screen and (max-width: 850px) {
    .skill {
        margin-bottom: 40px;
    }
}